<div class="container">
    <div class="row justify-content-center">
                
                    
        <div class="col-8 mb-4 border rounded ">
            <div class="mb-2">
              <label class="mt-1 text-center" for="name">Kullanıcı ismi:</label>
              <div class="input-group">
                <input class="form-control" type="text"  [(ngModel)]="userName"  placeholder="Kullanıcı ismi">
              </div>
            </div>
            <div class="mb-1">
              <div class="row">
                <div class="col-12">
                  <div class="alert alert-success mt-2" *ngIf="showUserName">{{ userName }}</div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary mb-2" (click)="showName()">Göster</button>
        </div>
          
                    
                
          
      <div class="col-8">
        <h3 class="bg-black text-white p-4 rounded text-center">
           To Do List
        </h3>
  
        <div class="input-group mb-3">
          <input type="text" #todoText class="form-control" placeholder="Listeye Ekle">
          <div class="input-group-append">
            <button class="btn btn-primary" (click)="addItem(todoText.value); todoText.value='';">Ekle</button>
          </div>
        </div>
  
        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="isDisplay" name="" id="displayAll">
          <label class="custom-control-label" for="displayAll"> Tüm Listeyi Göster</label>
        </div>
  
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Açıklama</th>
              <th>Durum</th>
            </tr>
          </thead>
  
          <tbody>
            <tr *ngFor="let item of getItems(); let i=index">
              <td>{{i+1}}</td>
              <td>{{ item.description }}</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="item.state" id="state{{i}}">
                  <label class="form-check-label" for="state{{i}}">
                    <span [ngSwitch]="item.state">
                      <span *ngSwitchCase="true">Yes</span>
                      <span *ngSwitchCase="false">No</span>
                    </span>
                  </label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  